
# Ignore environment variables file
.env


# Ignore specific directories and their contents
t5_spiritual_guru/
dataset/
raw_data/
research/
.vscode/
AI_Friend.egg-info/
# Ignore Python cache files
__pycache__/